{% load i18n %}
{% load static %}
<html>
    <head>
        <title>Robert Caulet</title>
        <link rel="stylesheet" href="{% static 'RCaulet/style_recettes.css' %}">
    </head>
    <body>
        <div class="page-header">
            <div class="date">
                <div class="btn-group">
                   <a href="" class="button">Recherche</a>
                </div>
            </div>
         <h1>Liste des oeuvres</h1>
        </div>
<div class="wrap">
  <div class="left_col">

<div class="page-header">
        <h1>Recettes</h1>


    {% for oeuvre in oeuvres %}
        <div class="post">
            <div class="date">
                 {{recette.contree.nom }} -
                {% for cat in recette.categorie.all %}
                {{cat.nom}} -
            {% endfor %}

            </div>
            <div class="point_col">
            <p>{% if recette.photo %}
                <a href="{% url 'view_recette' recette.id %}"><img class="img-circle" src="{{ recette.photo.url }}" width="50px" ></a>
            {% else %}
            <a href="{% url 'view_recette' recette.id %}"><span class="point"></span></a></p>
           {% endif  %}
            </div>
            <p class="nomrecette"><b>{{recette.title }}</b>
        <br />
            {{ recette.description }}</p>
        </div>
    {% endfor %}

      {% endblock %}

{% block pagination %}
<div class="pagination">
{% if recettes.has_other_pages %}
    {% if recettes.has_previous %}
      <a href="?page={{ posts.previous_page_number }}">&laquo;</a>
    {% else %}
       <a href="#" >&laquo;</a>
    {% endif %}
    {% for i in recettes.paginator.page_range %}
      {% if recettes.number == i %}
       <a href="#" class="active"(current)>{{ i }}</a>
      {% else %}
        <a href="?page={{ i }}">{{ i }}</a>
      {% endif %}
    {% endfor %}
    {% if recettes.has_next %}
      <a href="?page={{ posts.next_page_number }}">&raquo;</a>
    {% else %}
       <a href="#" >&raquo;</a>
    {% endif %}
{% endif %}
</div>
 {% endblock %}

