{% load i18n %}
{% load static %}
<html>
<title>Robert Caulet Peintre</title>
<meta charset="UTF-8">
<meta name="description" content="L'essentiel des productions artistiques de Robert Caulet, peintre, 1906-1984">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'RCaulet/w3.css' %}">
    <link rel="stylesheet" href="{% static 'RCaulet/w3-theme-black.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<body>

<!-- Side Navigation -->
<!-- Sidebar -->
  <nav class="w3-sidebar w3-bar-block w3-border-right w3-grey" style="display:none" id="mySidebar">
  <button onclick="w3_close()" class="w3-bar-item w3-large">Fermer &times;</button>
  {% for categorie in categories %}
      <a href="{% url 'rcindexcatego' categorie.id %}"  class="w3-bar-item w3-button">{{ categorie.nom }}</a>
  {% endfor %}
</nav>

<!-- Header -->
<!-- <header class="w3-container w3-theme" id="myHeader"> -->
<header class="w3-row w3-theme" id="myHeader">
    <div class="w3-quarter">
        <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i>
    </div>
    <div class="w3-half w3-center">
        <h4>Productions artistiques</h4>
        <h1 class="w3-xxxlarge w3-animate-bottom">Robert Caulet</h1>
        <div class="w3-padding">
          <button class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey" onclick="document.getElementById('id01').style.display='block'" style="font-weight:900;">1906-1984</button>
        </div>
    </div>
    <div class="w3-quarter w3-right-align">
        <a href="mailto:Laurent@robert-caulet.malijai.org?subject=Robert%20Caulet%20oeuvres"><h5>Contact</h5></a>
    </div>
</header>

<!-- Modal -->
<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-top">
      <header class="w3-container w3-theme-l1">
        <span onclick="document.getElementById('id01').style.display='none'"
        class="w3-button w3-display-topright">×</span>
        <h4>Né le 14 février 1906 à Marseille</h4>
        <h4>Mort le 29 février 1984 à Marseille</h4>
      </header>
    </div>
</div>
<!-- fin du Modal -->
    <div class="w3-container  w3-center w3-padding">
        <p>Robert Alexandre Caulet était un artiste peintre, professeur de dessin, militant politique de gauche, résistant en Corrèze.
        <a href="https://fr.wikipedia.org/wiki/Robert_Alexandre_Caulet" target="_blank">Voir sur wikipedia.</a>
        Ce site est consacré à son œuvre artistique, parfois directement liée à son activité politique.
        Il présente certaines de ses productions en tant que dessinateur, peintre et plasticien.</p>
        <p>Les contributions de celles et ceux qui possèdent un dessin ou un tableau signé Robert Caulet sont les bienvenues</p>
        <p></p>
    </div>

    <div class="w3-row-padding w3-center w3-margin-top">
        {% block grandes1 %}

        {% endblock %}
    </div>

<!-- Footer -->
<footer class="w3-container w3-dark-grey">
   <h5>Projet réalisé en  <img src="/static/images/django.png" height="32px">
      disponible ici <a href="https://github.com/Malijai/RCaulet/" class="date" ><img src="/static/images/GitHub-Mark-Light-32px.png"></a>
  Thème inspiré de <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a> -
       <a href="mailto:Laurent@robert-caulet.malijai.org?subject=Robert%20Caulet%20oeuvres">Contact et informations</a></h5>
  <div style="position:relative;bottom:40px;" class="w3-tooltip w3-right">
    <span class="w3-text w3-theme-light w3-padding">Haut</span>
    <a class="w3-text-white" href="#myHeader"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
</footer>

<!-- Script for Sidebar, Accordions, -->
<script>
// Side navigation

function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
}
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
}

</script>
</body>
</html>
