{% extends 'RC_basecatego.html' %}
{% load i18n %}
{% load thumbnail %}


{% block  grandes1 %}
    {% for oeuvre in oeuvres %}
    <div class="w3-row" id="C{{ oeuvre.id }}">
        <div class="w3-col s2 w3-dark-grey" style="padding-left:5px;">
            <h3 class="w3-center">{{ oeuvre.titre }}</h3>
            {% if oeuvre.periode is not None %}<h4 class="w3-center"> {{ oeuvre.periode }}</h4>{% endif %}
            <p>{{ oeuvre.texte|safe }}</p>
        </div>

        <div class="w3-col s3 ">
            <div class="w3-display-container">
            <a target="_blank" href="{{ oeuvre.photo.url }}">
            <img class="maison-image" src="{% thumbnail oeuvre.photo '1920' as im %}{{ im.url }}{% endthumbnail %}"  style="width:100%;max-width:1920px"/>
            </a>
            <div class="w3-padding w3-display-bottomleft w3-container w3-text-black"><p>&nbsp;&#169; Succession Robert Caulet</p>
            </div>
            </div>
        </div>

       {% for enfant in oeuvre.enfants.all %}
            {% if enfant %}
                <div class="w3-col s2" >
                    <a target="_blank" href="{{ enfant.photo.url }}">
                    <img  class="maison-image" src="{% thumbnail enfant.photo '640' as im %}{{ im.url }}{% endthumbnail %}"  style="width:100%"/>
                    </a>
                </div>
            {% else %}
                <div class="w3-col s6">
                 </div>
            {% endif %}
         {% endfor %}
    </div>

    {% endfor %}

{% endblock grandes1 %}
