{% extends 'RC_basecatego.html' %}
{% load i18n %}
{% load thumbnail %}

{% block titre %}
    <h2>Productions artistiques : {{ categorie.nom }}</h2>
{% endblock titre %}

{% block  grandes1 %}
    {% for oeuvre in oeuvres %}
    <div class="w3-row">
        <div class="w3-quarter w3-center">
        </div>
        <div class="w3-quarter w3-dark-grey w3-center"  id="C{{ oeuvre.id }}" style="padding-left:5px;">
            <h2 class="w3-center">{{ oeuvre.titre }}</h2>
            <h3 class="w3-center">{{ oeuvre.periode }}</h3>
            <a href="{% url 'rcslide'  oeuvre.id %}"  class="fa fa-eye w3-xlarge w3-button w3-theme"></a>

            <p>{{ oeuvre.texte|safe }}</p>
        </div>

        <div class="w3-quarter ">
            <a target="_blank" href="{% url 'rcslide'  oeuvre.id %}">
            <img class="maison-image" src="{% thumbnail oeuvre.livret '1920' as im %}{{ im.url }}{% endthumbnail %}"  style="width:100%"/>
            </a>
        </div>
        <div class="w3-quarter w3-center">
        </div>
    </div>
    {% endfor %}

{% endblock grandes1 %}

